<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WCF_API">
      <section name="AdminLocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminDev" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminIntegration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminUAT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminSVT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminProduction" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="REST_API">
      <section name="BettingAPILocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="MarketingAPILocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="DATABASE">
      <section name="MSSQLDB" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="RavenDB" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />

  </configSections>

  <WCF_API>
    <AdminLocal>
      <add key="BetIntercept.API" value="http://localhost/TBS.BetIntercept.API/BetInterceptService.svc"/>
      <add key="ClientAdmin.API" value="http://localhost/TBS.ClientAdmin.API/ClientAdminService.svc"/>
      <add key="Messaging.API" value="http://localhost/TBS.Messaging.API/MessagingService.svc"/>
      <add key="Domain.API" value="http://localhost/TBS.Domain.API/Service.svc"/>
      <add key="Search.API" value="http://localhost/TBS.Search.API/SearchService.svc"/>
      <add key="Settler.API" value="http://localhost/TBS.Settler.API/Service1.svc"/>
      <add key="RiskManagement.API" value="http://localhost/TBS.RiskManagement.API/RiskManagementService.svc"/>
      <add key="MarketingAdmin.API" value="http://localhost/TBS.MarketingAdmin.API/PromotionService.svc"/>
      <add key="Reporting.API" value="http://localhost/TBS.Reporting.API/ReportingService.svc"/>
      <add key="FeedAdmin.API" value="http://localhost/TBS.FeedAdmin.API/Service1.svc"/>
      <add key="Finance.API" value="http://localhost/TBS.Finance.API/FinanceService.svc"/>
      <add key="CreditCard.API" value="http://localhost/TBS.CreditCard.API/Service.svc"/>
      <add key="ClientEmailSms.API" value="http://localhost/TBS.ClientEmailSms.API/ClientEmailSmsWcfService.svc"/>
      <add key="Admin.API" value="http://localhost/TBS.Admin.API/AdminService.svc"/>
    </AdminLocal>
    <AdminDev>
      <add key="BetIntercept.API" value="http://internal-api.dev.aws.beteasy.com.au/BetIntercept/BetInterceptService.svc"/>
      <add key="ClientAdmin.API" value="http://internal-api.dev.aws.beteasy.com.au/ClientAdmin/ClientAdminService.svc"/>
      <add key="Messaging.API" value="http://internal-api.dev.aws.beteasy.com.au/Messaging/MessagingService.svc"/>
      <add key="Domain.API" value="http://internal-api.dev.aws.beteasy.com.au/Domain/Service.svc"/>
      <add key="Search.API" value="http://internal-api.dev.aws.beteasy.com.au/Search/SearchService.svc"/>
      <add key="Settler.API" value="http://internal-api.dev.aws.beteasy.com.au/Settler/Service1.svc"/>
      <add key="RiskManagement.API" value="http://internal-api.dev.aws.beteasy.com.au/RiskManagement/RiskManagementService.svc"/>
      <add key="MarketingAdmin.API" value="http://internal-api.dev.aws.beteasy.com.au/MarketingAdmin/PromotionService.svc"/>
      <add key="Reporting.API" value="http://internal-api.dev.aws.beteasy.com.au/Reporting/ReportingService.svc"/>
      <add key="FeedAdmin.API" value="http://internal-api.dev.aws.beteasy.com.au/FeedAdmin/Service1.svc"/>
      <add key="Finance.API" value="http://internal-api.dev.aws.beteasy.com.au/Finance/FinanceService.svc"/>
      <add key="CreditCard.API" value="http://internal-api.dev.aws.beteasy.com.au/CreditCard/Service.svc"/>
      <add key="ClientEmailSms.API" value="http://internal-api.dev.aws.beteasy.com.au/ClientEmailSms/ClientEmailSmsWcfService.svc"/>
      <add key="Admin.API" value="http://internal-api.dev.aws.beteasy.com.au/Admin/AdminService.svc"/>
    </AdminDev>
  </WCF_API>

  <REST_API>
    <MarketingAPILocal>
      <add key="Running" value="http://localhost/MarketingAdminRestAPI/Diagnostic/AppRunning"/>
    </MarketingAPILocal>

    <BettingAPILocal>
      <add key="Running" value="http://localhost/tbs.betting.api/diagnostic/apprunning"/>
    </BettingAPILocal>

    
  </REST_API>

  <DATABASE>
    <RavenDB>
      <add key="Running" value="http://localhost:8080"/>
    </RavenDB>
  </DATABASE>


  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="fig" Namespace="TBS.MarketingAdmin.Events" Endpoint="TBS.MarketingAdmin.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.ServiceBroker.Events" Endpoint="TBS.ServiceBroker.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.ClientAdmin.Events" Endpoint="TBS.ClientAdmin.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.Admin.Events" Endpoint="TBS.Admin.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.ClientEmail.Events" Endpoint="TBS.ClientEmail.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.EventAdmin.Events" Endpoint="TBS.EventAdmin.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.FeedAdmin.Events" Endpoint="TBS.FeedAdmin.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.Finance.Events" Endpoint="TBS.Finance.Host@10.130.65.250" />
      <add Assembly="fig" Namespace="TBS.RiskManagement.Events" Endpoint="TBS.RiskManagement.Host@10.130.65.250" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="TBS.ErrorQueue" />  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>