<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WCF_API">
      <section name="AdminLocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminDev" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminIntegration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminUAT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminSVT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminProduction" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="REST_API">
      <section name="MarketingLocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <WCF_API>
    <AdminLocal>
      <add key="BetIntercept.API" value="http://localhost/TBS.BetIntercept.API/BetInterceptService.svc"/>
      <add key="ClientAdmin.API" value="http://localhost/TBS.ClientAdmin.API/ClientAdminService.svc"/>
      <add key="Messaging.API" value="http://localhost/TBS.Messaging.API/MessagingService.svc"/>
      <add key="Domain.API" value="http://localhost/TBS.Domain.API/Service.svc"/>
      <add key="Search.API" value="http://localhost/TBS.Search.API/SearchService.svc"/>
      <add key="Settler.API" value="http://localhost/TBS.Settler.API/Service1.svc"/>
      <add key="RiskManagement.API" value="http://localhost/TBS.RiskManagement.API/RiskManagementService.svc"/>
      <add key="MarketingAdmin.API" value="http://localhost/TBS.MarketingAdmin.API/PromotionService.svc"/>
      <add key="Reporting.API" value="http://localhost/TBS.Reporting.API/ReportingService.svc"/>
      <add key="FeedAdmin.API" value="http://localhost/TBS.FeedAdmin.API/Service1.svc"/>
      <add key="Finance.API" value="http://localhost/TBS.Finance.API/FinanceService.svc"/>
      <add key="CreditCard.API" value="http://localhost/TBS.CreditCard.API/Service.svc"/>
      <add key="ClientEmailSms.API" value="http://localhost/TBS.ClientEmailSms.API/ClientEmailSmsWcfService.svc"/>
      <add key="Admin.API" value="http://localhost/TBS.Admin.API/AdminService.svc"/>
    </AdminLocal>
    <AdminDev>
      <add key="BetIntercept.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.BetIntercept.API/BetInterceptService.svc"/>
      <add key="ClientAdmin.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.ClientAdmin.API/ClientAdminService.svc"/>
      <add key="Messaging.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Messaging.API/MessagingService.svc"/>
      <add key="Domain.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Domain.API/Service.svc"/>
      <add key="Search.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Search.API/SearchService.svc"/>
      <add key="Settler.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Settler.API/Service1.svc"/>
      <add key="RiskManagement.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.RiskManagement.API/RiskManagementService.svc"/>
      <add key="MarketingAdmin.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.MarketingAdmin.API/PromotionService.svc"/>
      <add key="Reporting.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Reporting.API/ReportingService.svc"/>
      <add key="FeedAdmin.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.FeedAdmin.API/Service1.svc"/>
      <add key="Finance.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Finance.API/FinanceService.svc"/>
      <add key="CreditCard.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.CreditCard.API/Service.svc"/>
      <add key="ClientEmailSms.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.ClientEmailSms.API/ClientEmailSmsWcfService.svc"/>
      <add key="Admin.API" value="http://internalapi.dev.aws.beteasy.com.au/TBS.Admin.API/AdminService.svc"/>
    </AdminDev>
  </WCF_API>

  <REST_API>
    <MarketingLocal>
      <add key="running" value="http://localhost:12400/api/Diagnostic/Running"/>
    </MarketingLocal>
  </REST_API>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>