<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WCF_API">
      <section name="AdminLocal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminDev" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminIntegration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminUAT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminSVT" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="AdminProduction" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <WCF_API>
    <AdminLocal>
      <add key="event" value="http://localhost:9835/Service1.svc"/>
      <add key="risk" value="http://localhost:9835/Service2.svc"/>
      <add key="client" value="http://localhost:9835/Service3.svc"/>
    </AdminLocal>
    <AdminDev>
      <add key="event" value="http://localhost:9835/Service1.svc"/>
      <add key="risk" value="http://localhost:9835/Service2.svc"/>
      <add key="client" value="http://localhost:9835/Service3.svc"/>
    </AdminDev>    
  </WCF_API>




  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>